<div class="actor-card">
    <h2>ACTORES</h2>
    <ul class="lista-reparto">
        <li  class="actor" (click)="enviarActorClicado(0)" [innerText]="actores[0].nombre">  </li> 
        <li  class="actor" (click)="enviarActorClicado(1)" [innerText]="actores[1].nombre"> </li> <!-- Asegurnos las clases y nombres-->
        <li class="actor" (click)="enviarActorClicado(2)" [innerText]="actores[2].nombre">  </li> 
        <li class="actor" (click)="enviarActorClicado(3)" [innerText]="actores[3].nombre">  </li> 
        <li class="actor" (click)="enviarActorClicado(4)" [innerText]="actores[4].nombre">  </li> 
    </ul>
</div>
